body {
  background-color: #e7f1fa;
  font-family: "Roboto", sans-serif;
}
.application {
  background: #7cbbe7;
  max-width: 65%;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(red, green, blue, alpha);
  border-radius: 10px;
}
